/* General */
body {background-color: #FEFEFE; font-family: sans-serif;}
.btn-primary:active:focus{box-shadow: 0 0 0 0.25rem #d6303180}
.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover, 
.btn-primary:visited {
    color: #fff;
    background-color: #d63031;
    border-color: #d63031;
}
/* General */

/* Social */
.social {justify-content: space-between; font-size: 1.5rem;}
.social .facebook {color: #3b5998;}
.social .github {color: #333;}
h1 {
    font-weight: bold;
    color: #263238;
    border-right: 3px solid;
    border-lefT: 3px solid;
    padding: 0 12px;
    border-radius: 5px;
    font-family: 'El Messiri', serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Social */

/* Header */
.header iframe {
    border: 8px solid #d63031;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/* Header */
